@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  h4 {
    font-size: 20px;
  }
  #nav {
    display: none;
  }
  .headername {
    display: flex;
    align-items: center;
  }
  .carousel__button {
    display: none;
  }
}

.aboutme {
  width: 30vw;
  margin-left: 1vw;
}
