@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  h4 {
    font-size: 20px;
  }
  #nav {
    display: none;
  }
  .headername {
    display: flex;
    align-items: center;
  }
}

/* cards */

.blogcontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

a {
  text-decoration: none;
}
/*Add the following compatibility code for IE as you can't animate background-size in IE*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .textOverImage {
    background-size: cover !important;
  }
}

.textOverImage {
  position: relative;
  width: calc(50% - 4px);
  height: 70vh;
  float: left;
  margin: 2px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s;
  overflow: hidden;
  box-shadow: 0 0 4px #000;
  font-family: "Quicksand", sans-serif;
}

.textOverImage:hover {
  background-size: 110%;
}

.textOverImage:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(
    90%
  ); /*use transform:translateY(100%); to remove footer*/
  background-color: #d55633;
  color: #fff;
  /* margin-top: 20px; */
  padding: 0 8px;
  content: attr(data-title);
  transition: 0.5s 0.1s;
  color: #fff;
  font-weight: bold;
  font-size: 32.5px;
  font-family: "Quicksand", sans-serif;
}

.textOverImage:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  padding: 8px;
  content: attr(data-text);
  transition: 0.5s;
  padding-top: 2em;
  margin-top: 50px;
  transform: translateY(100%);
  opacity: 0;
  font-family: "Quicksand", sans-serif;
}

.textOverImage:hover:after {
  transform: translateY(0);
  transition: 0.5s 0.1s;
  opacity: 1;
  font-family: "Quicksand", sans-serif;
}
.textOverImage:hover:before {
  transform: translateY(0);
  padding: 0px;
  /* margin: 50px; */
  background-color: #d55633;

  transition: 0.5s;
  font-family: "Quicksand", sans-serif;
}

@media screen and (max-width: 1300px) {
  .textOverImage {
    width: 100%;
  }
}
