.intro {
  max-width: 700px;
}

.intro span {
  color: #fff7e9;
}

/* .homeMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

.homeProjects {
  padding-top: 100px;
  margin-left: 600px;
}

.homeProjects a section {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.homeProjects section img {
  width: 70%;
}

.intro h2 {
  margin-top: 0;
}

.projectDescription {
  margin-right: 20px;
}

.projectDescription p {
  margin-top: 10px;
}

.projectDescription h4 {
  font-weight: 400;
}

.seeMore {
  color: #fff7e9;
  font-weight: 400;
  margin-bottom: 100px;
}

.seeMore img {
  transition: transform 0.3s ease;
}

.seeMore:hover img {
  transform: rotate(360deg);
}

.introImg {
  width: 400px;
  height: 500px;
  background-image: url(../img/me.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 350px;
  opacity: 0;
  transition: opacity 0.2s ease, transform 6s linear;
}

.intro:hover .introImg {
  opacity: 1;
  transform: rotate(20deg);
}

@media (max-width: 1600px) {
  .homeProjects {
    margin-left: 0px;
  }

  .seeMore {
    text-align: center;
  }
}

@media (max-width: 1080px) {
  .homeProjects a section {
    flex-direction: column;
  }

  .homeProjects section img {
    width: 100%;
  }

  .projectDescription {
    margin: 20px 0 0 0;
    order: 2;
  }

  .homeProjects a:last-of-type {
    text-align: center;
  }
}
