@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

body {
  margin: 0px;
  /* padding: 500px; */
}
h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 60px;
  margin: 0;
}

h4 {
  font-family: "Quicksand", sans-serif;
  font-size: 31.25px;
}
h4 a {
  text-decoration: none;
  color: #555555;
}
h4 a:hover {
  color: black;
  border-bottom: 1px solid black;
}

p {
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
}
h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 48.83px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  h4 {
    font-size: 20px;
  }
  #nav {
    display: none;
  }
  .headername {
    display: flex;
    align-items: center;
  }
  .carousel__button {
    display: none;
  }
}

.headername {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}
.navcontainer {
  display: flex;
  justify-content: space-between;

  margin-right: 50px;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  width: 1000px;
}

/* CAROUSEL */
.carousel {
  position: relative;
  height: 75vh;
  width: 80vw;
  margin: 0 auto;
  /* transition: 1s ease; */
}

.carousel__image {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  opacity: 1;
  transition: 1s ease;
  backface-visibility: hidden;
}

.carousel__track-container {
  background-color: lightcoral;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel__track {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  height: 100%;
  /* transition: transform 400ms ease-in; */
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  /* transition: transform 400ms ease-in; */
}

.carousel_links {
  position: absolute;
  top: 33%;

  /* transform: translateY(-10%); */
  border-radius: 50%;
  height: 50px;
  width: 50px;

  background: transparent;

  cursor: pointer;
  transition: 1s ease;
  opacity: 0;
}
.carousel_text {
  position: absolute;
  top: 30%;
  left: 42.5%;
  width: 450px;

  background: transparent;

  cursor: pointer;
  transition: 1s ease;
  opacity: 0;
}

.carousel:hover .carousel__image {
  opacity: 0;
}
.carousel:hover .carousel_links {
  opacity: 1;
}
.carousel:hover .carousel_text {
  opacity: 1;
}

.carousel_github {
  right: 42.5%;
  z-index: 30;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  opacity: 0.3;

  background: transparent;

  cursor: pointer;
}

.carousel__button--left {
  left: 20px;
  z-index: 20;
}

.carousel__button--right {
  right: 20px;
  z-index: 20;
}

.carousel_button img {
  width: 12px;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  transform: translateY(-120%);
  padding: -10px 0;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: rgba(0, 30, 0, 0.7);
  cursor: pointer;
  margin: 0 12px;
}

.carousel__indicator.current-dot {
  background-color: rgba(0, 0, 0, 0.85);
}
/* CAROUSEL */
