@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

body {
  margin: 0px;
  /* padding: 500px; */
}
h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 60px;
  margin: 0;
}

h4 {
  font-family: "Quicksand", sans-serif;
  font-size: 31.25px;
}
h4 a {
  text-decoration: none;
  color: #555555;
}
h4 a:hover {
  color: black;
  border-bottom: 1px solid black;
}

p {
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
}
h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 48.83px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  h4 {
    font-size: 20px;
  }
  #nav {
    display: none;
  }
  .headername {
    display: flex;
    align-items: center;
  }
  .carousel__button {
    display: none;
  }
}

.headername {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}
.navcontainer {
  display: flex;
  justify-content: space-between;

  margin-right: 50px;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  width: 1000px;
}

.projectcontainer {
  display: grid;
  grid-template-columns: repeat(1fr 500px);
  /* width: 90vw; */
  grid-template-areas: "text pictures alttext";

  /* height: 70vh; */
}
.descriptioncontainer {
  width: 400px;
  grid-area: text;
}

.imagecontainer {
  width: 800px;
  grid-area: pictures;
}
.extracontainer {
  width: 400px;
  grid-area: alttext;
}

.image1 {
  width: 800px;
}
.image2 {
  width: 400px;
}
