.projectWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.projectWrapper .projectDescription {
  width: 40%;
}

.projectWrapper .projectImages {
  width: 50%;
}

.projectWrapper .projectDescription dl {
  margin-bottom: 30px;
}

.projectWrapper .projectDescription p {
  color: #fff7e9;
  margin-top: 30px;
}

.projectWrapper .projectImages img {
  width: 100%;
  padding-bottom: 30px;
}

@media (max-width: 500px) {
  .projectWrapper {
    display: block;
  }

  .projectWrapper .projectDescription {
    width: 100%;
  }

  .projectWrapper .projectImages {
    width: 100%;
  }
}
